<div>
  <form class="example-form">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>{{inputType}}</mat-label>
      <input type="text"
             placeholder="Pick one"
             aria-label="Breed"
             matInput
             [formControl]="inputForm"
             [matAutocomplete]="auto">
      <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" [displayWith]="displayFn">
        <mat-option *ngFor="let option of filteredData$ | async" [value]="option">
          {{option.name}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <a class="button" (click)="useFilter()" mat-raised-button color="accent">Use Filter</a>
    <a class="button" (click)="clearFilter()" mat-raised-button color="warn">Clear Filter</a>
  </form>
</div>
